version: "3.8"

services:

  mysql-db:
    image: mysql
    restart: always
    env_file: ./.env
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "true"
      MYSQL_ROOT_PASSWORD: $MYSQL_PASSWORD
      MYSQL_DATABASE: $MYSQL_DATABASE
    ports:
      - $MYSQL_LOCAL_PORT:$MYSQL_DOCKER_PORT
    volumes:
      - db-data:/var/lib/mysql
      - ./db:/docker-entrypoint-initdb.d

    node-app:
    build: .
    restart: always
    environnment:
      NODE_ENV: production
    ports:
      - $NODE_PORT:$NODE_PORT
    depends_on:
      - mysql-db

  redis-server:
    image: "redis"
    depends_on:
      - node-app
    ports:
      - $REDIS_PORT:$REDIS_PORT

  nginx:
    build:
      context: ./nginx
    depends_on:
      - node-app
    ports:
      - $NGINX_PORT:$NGINX_PORT
    restart: always

volumes:
  db-data:
